<form  #f="ngForm" (ngSubmit)="submit(f.value)">
    <div class="form-group">
        <label for="kontakt">Kontakt</label>
        <input 
            required 
            minlength="3" 
            ngModel 
            name="kontakt" 
            #kontakt="ngModel" 
            id="kontakt" 
            type="text"
            class="form-control"
        >
        <div class="alert alert-danger" 
            *ngIf="kontakt.touched && !kontakt.valid">
            <div *ngIf="kontakt.errors.required">
                Kontakt nie został wpisany
            </div>
            <div *ngIf="kontakt.errors.minlength">
                Contact should have minimum {{kontakt.errors.minlength}} charakters.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="wybieranie">Wybór kontaktów</label>
        <select required ngModel #wybieranie="ngModel" name="wybieranie" id="wybieranie" class="form-control"> 
            <option value=""></option>
            <option *ngFor="let c of contacts" [value]="c.id">{{ c.name }}</option>
        </select>
        <div *ngIf="wybieranie.touched && wybieranie.invalid" class="alert alert-danger">
            Kategoria nie jest wybrana
        </div>
    </div>
    <div class="checkbox">
        <label>
            Akceptuję regulamin
            <input type="checkbox" ngModel name="wybrano">
        </label>
    </div>
    <p>
        {{ f.value | json}}
    </p>
        <button class= "btn btn-info" [disabled]="!f.valid" type="submit">Kliknij</button>
</form>
